link(rel='icon', type='image/png', href='/images/favicons/icon-16.png', sizes='16x16')
link(rel='icon', type='image/png', href='/images/favicons/icon-32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/images/favicons/icon-96.png', sizes='96x96')

link(rel='apple-touch-icon', href='/images/favicons/older-iPhone.png')
link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/iPhone-6-Plus.png')
link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/iPad-Retina.png')
link(rel='apple-touch-icon', sizes='167x167', href='/images/favicons/iPad-Pro.png')
