footer: .container.grid-xl
  .columns
    .column.col-copyright.col-5.col-lg-4.col-md-12
      img.logo-icon(src="/images/icon_transparent.png")
      .copyright © 2018
    .column.col-md-12.footer-links
      h3 dracht.io
      ul
        li: a(href="/about") About drachtio
        li: a(href="/features") Why drachtio?
        li: a(href="/contact") Contact Us
    .column.col-md-12.footer-links
      h3 Developers
      ul
        li: a(href="/docs") Developer Guide
        li: a(href="/docs/api") Api Reference
    //.column.col-md-12.footer-links
      h3 Tutorials
      ul
        each t in locals.tutorials
          li: a(href='/docs/tutorial/' + t.file )= t.name
  
    //.column.col-md-12
      h3 Blog
      ul
        li: a(href="#") Why Drachtio?
        li: a(href="#") Hello World!
