footer: .container.grid-xl
  .columns
    .column.col-copyright.col-5.col-md-12
      img.logo-icon(src="/images/icon_transparent.png")
      .copyright © 2018
    .column.col-md-12
      h3 Developers
      ul
        li: a(href="#") Getting Started
        li: a(href="#") Create an Application
        li: a(href="#") Servers
        li: a(href="#") Api Reference
    .column.col-md-12
      h3 Tutorials
      ul
        li: a(href="#") Tutorial Name Here
        li: a(href="#") Another Tutorial Here
        li: a(href="#") And Another
        li: a(href="#") And Here
        li: a(href="#") Examples
    .column.col-md-12
      h3 Blog
      ul
        li: a(href="#") Why Drachtio?
        li: a(href="#") Hello World!
