header.navbar(data-headroom)
  .container
    .logo
      a(href="/"): img(src='/images/logo.svg' alt='drachtio, the node.js framework for SIP applications.')
    .links.hide-md
      a(href="/about") About
      a(href="/docs") Docs
      a(href="/api") API
      a(href="/middleware") Middleware
      a(href="/apps") Apps
      a(href="/releases") Release Notes
      a(href="/blog") Blog
    .version.hide-md
      a#version(href="https://www.npmjs.com/package/drachtio-srf") v4.3.4
    .mobile-button.show-md
      button.hamburger.hamburger--collapse(type='button')
        span.hamburger-box
          span.hamburger-inner
.mobile-menu
  .links
      a(href="/about") About
      a(href="/docs") Docs
      a(href="/api") API
      a(href="/middleware") Middleware
      a(href="/apps") Apps
      a(href="/releases") Release Notes
      a(href="/blog") Blog
