header.navbar(data-headroom)
  .container.grid-xl
    .logo
      img(src='images/logo.svg' alt='dracht.io, the node.js SIP applciation framework.')
    .links.hide-sm
      a(href="#") API
      a(href="#") Getting Started
      a(href="#") Tutorials
      a(href="#") Blog
    .version
      a#version(href="#") v4.2.10
