html
  head
    title= title
    meta(name='description' content=description)
    
    include ../partials/favicons
    link(rel='stylesheet' href='/styles/app.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css')
    
    block css
    style(type="text/css").
      header {
        position: absolute;
      }
    script(src='/js/gumshoe.min.js')
    script(src='/js/clipboard.min.js')
    script(src='/js/headroom.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')

  body
    include ../partials/navigation
    
    block header      
          
    .docs.container.padded
      .columns.col-oneline
        .column.col-3.sidebar.hide-md
          block sidebar

      
        .column.doc
          block content
                    
        
    include ../partials/footer
    
    script.
      $('.hamburger').click(function() {
        $('.mobile-menu').toggle()
        $('.hamburger').toggleClass('is-active')
      })
    script.
      $(window).scroll(function(){
        var scroll_top = $(this).scrollTop(); 
        var height_element_parent =  $("#docs-menu").parent().outerHeight(); 
        var height_element = $("#docs-menu").height(); 
        var position_fixed_max = height_element_parent - height_element - 80; 
        var position_fixed = scroll_top < 80 ? 80 - scroll_top : position_fixed_max > scroll_top ? 0 : position_fixed_max - scroll_top;
        $("#docs-menu").css("top",position_fixed);
        console.log('docs', scroll_top)
      });
    script.
      gumshoe.init({offset: 130});
      hljs.initHighlightingOnLoad();
    block scripts
