extends layouts/default

block header
  #interior-top
  
        
  
block content
  .content: .container.grid-lg
    .columns

  .content: .container.grid-lg
    .columns


block scripts
  script.
    hljs.initHighlightingOnLoad();
