extends layouts/interior-alt

block header
  .start 
    img(src='/images/circle.svg') 
    | Bringing services to SIP networks
  p 
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
    | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
  
  
block content
  #contributors.content: .container.grid-md
    h1 Contributors
    hr
    .columns
      .column
        .left
          .pic(style="background-image: url('/images/contributors/dave.png');")
        .text
          h3 Dave Horton
            span <a href="https://github.com/davehorton">@davehorton</a>
          p 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            | veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.

block scripts
  script.
    var elem = document.querySelector("header");
    var headroom = new Headroom(elem, {
    "offset": 150,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
    });
    headroom.init();
