extends layouts/default

block header
  #intro-alt: .container.grid-lg
    .columns
      .column.col-6
        h1 The node.js SIP application server framework.
        .btn.btn-special Get Started
      .column.col-6
        .card.code-box
          .card-header
            .circle-one
            .circle-two
            .circle-two
          .card-body
            include:markdown-it markdown/home-box.md
        
  
block content
  .content: .container.grid-lg
    .columns
      .column
      .column
        
  .content: .container.grid-lg
    .columns
      .column
      .column

block scripts
  script.
    hljs.initHighlightingOnLoad();
