extends layouts/interior-alt

mixin app(name, repo, url, description)
  .app
    .app-header
      h3= name
      i.gh
      a(href=url)= repo
    .app-body
      p=description
      a.btn.view(href=url) View App
        i.fas.fa-external-link-alt

block header
  .start 
    img(src='/images/circle.svg') 
    | Reference applications
  h1.caption A collection of sample and starter applications.
  hr
    
block content
  #apps.content: .container.grid-lg
    .row
      .columns
        .column.col-6.col-md-12
          +app(
            'A B2BUA that proxies media.',
            'davehorton/drachtio-b2b-media-proxy',
            'https://github.com/davehorton/drachtio-b2b-media-proxy',
            'A simple B2BUA that uses rtpengine to proxy media.'
          )
        .column.col-6.col-md-12
          +app(
            'A call generator for load testing.',
            'davehorton/drachtio-conf-tester',
            'https://github.com/davehorton/drachtio-conf-tester',
            'generates calls at configurable rates and limits, initially developed to test conference bridges.'
          )
        .column.col-6.col-md-12
          +app(
            'A Freeswitch load-balancing sip proxy.',
            'davehorton/drachtio-fs-load-balancing-proxy',
            'https://github.com/davehorton/drachtio-fs-load-balancing-proxy',
            'implements a SIP proxy that distributes incoming calls across a bank of Freeswitch servers.'
          )
        .column.col-6.col-md-12
          +app(
            'A SIP SIMPLE server.',
            'davehorton/drachtio-simple-server',
            'https://github.com/davehorton/drachtio-simple-server',
            'implements presence and instant messaging (as per RFC 6665, RFC 3856, RFC 3903, RFC 3428).'
          )
        .column.col-6.col-md-12
          +app(
            'A SIPREC recording server.',
            'davehorton/drachtio-siprec-recording-server',
            'https://github.com/davehorton/drachtio-siprec-recording-server',
            'implements a SIPREC recording server, using either rtpengine or Freeswitch to make the recordings.'
          )
    .row
      .add-middleware Have drachtio apps you'd like to list here?<br/>Super! Let me know at &nbsp;
        a(href="mailto:daveh@beachdognet.com?subject=new drachtio middleware") daveh@beachdognet.com  


block scripts
  script.
    var elem = document.querySelector("header");
    var headroom = new Headroom(elem, {
    "offset": 150,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
    });
    headroom.init();
