extends layouts/interior

block header
  .start 
    img(src='/images/circle.svg') 
    | Contact Drachtio
  h1.caption Have a question? We're here to help.
  
  
block content
  #contact.content: .container.grid-md
    if submitted == false
      form(method="post")
        .form-group
          label.form-label(for='input-example-1') Name
          input#input-example-1.form-input(type='text', name="name", placeholder='John Doe', minlength='2', required)
          label.form-label(for='input-example-1') Email
          input#input-example-1.form-input(type='email', name="email", placeholder='you@domain.com' required)
          label.form-label(for='input-example-1') Subject
          input#input-example-1.form-input(type='text', name="subject", placeholder='Subject' required)
          label.form-label(for='input-example-3') Message
          textarea#input-example-3.form-input(placeholder='How can we help?', name="message", rows='3' required)
        button.btn.btn-special(type="submit") Submit
    else
      h2 Thank you!
      p We'll get back to you shortly. Meanwhile, have a great day.




block scripts
  script.
    var elem = document.querySelector("header");
    var headroom = new Headroom(elem, {
    "offset": 150,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
    });
    headroom.init();

    $('#contact').validate();
    $('#contact').on('blur keyup change', 'input', function(event) {
      validateForm('#contact');
    });

    function validateForm(id) {
      var valid = $(id).validate().checkForm();
        if (valid) {
          $('button[type=submit]').prop('disabled', false);
            $('.button[type=submit]').removeClass('isDisabled');
        } else {
          $('.button[type=submit]').prop('disabled', 'disabled');
          $('.button[type=submit]').addClass('isDisabled');
        }
    }

    // Run once, so subsequent input will be show error message upon validation
    validateForm('#formId');
