extends layouts/interior

block header
  .start 
    img(src='/images/circle.svg') 
    | Features
  h1.caption Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
  
  
block content
  .content.timeline: .container.grid-lg
    h1 Why use dracht.io?
    p Lorem ipsum dolor unde omnis iste natus error sit.
    .arrow-top
    .columns.col-gapless
      .column.col-6.col-md-12
        .first: .inside
          .icon
            i.far.fa-dot-circle
          div: h3 The carrier-class SIP middleware developers love. 
          hr
          p 
            | drachtio-srf bundles a lower-level sip middleware library drachtio 
            | and requires a network connection to a drachtio server process. 
            | The drachtio server provides the sip transaction processing engine
            | and is controlled by nodejs applications using the drachtio-srf module.
        .third: .inside
          .icon
            i.far.fa-dot-circle
          div: h3 The carrier-class SIP middleware developers love. 
          hr
          p 
            | drachtio-srf bundles a lower-level sip middleware library drachtio 
            | and requires a network connection to a drachtio server process. 
            | The drachtio server provides the sip transaction processing engine
            | and is controlled by nodejs applications using the drachtio-srf module.
        .fifth: .inside
          .icon
            i.far.fa-dot-circle
          div: h3 The carrier-class SIP middleware developers love. 
          hr
          p 
            | drachtio-srf bundles a lower-level sip middleware library drachtio 
            | and requires a network connection to a drachtio server process. 
            | The drachtio server provides the sip transaction processing engine
            | and is controlled by nodejs applications using the drachtio-srf module.
      .column.col-6.col-md-12
        .second: .inside
          .icon
            i.far.fa-dot-circle
          div: h3 The carrier-class SIP middleware developers love. 
          hr
          p 
            | drachtio-srf bundles a lower-level sip middleware library drachtio 
            | and requires a network connection to a drachtio server process. 
            | The drachtio server provides the sip transaction processing engine
            | and is controlled by nodejs applications using the drachtio-srf module.
        .fourth: .inside
          .icon
            i.far.fa-dot-circle
          div: h3 The carrier-class SIP middleware developers love. 
          hr
          p 
            | drachtio-srf bundles a lower-level sip middleware library drachtio 
            | and requires a network connection to a drachtio server process. 
            | The drachtio server provides the sip transaction processing engine
            | and is controlled by nodejs applications using the drachtio-srf module.
        .sixth: .inside
          .icon
            i.far.fa-dot-circle
          div: h3 The carrier-class SIP middleware developers love. 
          hr
          p 
            | drachtio-srf bundles a lower-level sip middleware library drachtio 
            | and requires a network connection to a drachtio server process. 
            | The drachtio server provides the sip transaction processing engine
            | and is controlled by nodejs applications using the drachtio-srf module.
    .arrow-bottom    
    .what-are-you-waiting-for
      h1 What are you waiting for?
      .btn.btn-special Get Started

block scripts
  script.
    var elem = document.querySelector("header");
    var headroom = new Headroom(elem, {
    "offset": 150,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
    });
    headroom.init();
