extends layouts/default

block header
  #intro: .container.grid-lg
    h1 The Node.js framework for SIP server applications
    .caption Making SIP server applications as easy to build as web apps
    .card.code-box
      .card-header
        .circle-one
        .circle-two
        .circle-two
      .card-body
        include:markdown-it markdown/home-box.md
    a.btn.btn-special(href="/docs") Get Started
    a.arrow-down(href="#top")
        
  
block content
  .content#top: .container.grid-lg
    .columns
      .column.col-6.col-md-12
        h3(style="margin-top:0") For developers. 
        hr
        p 
          | If you've used any of the popular Node.js web application frameworks, 
          | then learning drachtio will be a breeze.  Once you've installed
          | a drachtio server (with a one-time, "set and forget" configuration),
          | you'll write your application logic completely in Node.js, using a 
          | familiar middleware pattern.
      .column.col-6.col-md-12
        img(src="/images/VoIP.png")
        
  .content#middle: .container.grid-lg
    .columns
      .column.col-6.col-md-12
        a.btn.btn-box.dark(href="/docs")
          | See the docs.
          hr
        a.btn.btn-box.light(href="https://github.com/davehorton/drachtio-srf")
          | View the source.
          hr
      .column.col-6.col-md-12#content-right
        div: h3(style="margin-top:0") For service providers.
        hr
        p 
          | The distributed architecture means that application logic can be 
          | managed, deployed, and scaled completely independently from 
          | SIP call processing servers.  <br/>From an operations management standpoint, separating
          | application logic and SIP server processes simplifies and aligns your team's responsibilities.<br/><br/>
          | The cloud-friendly architecture allows you to deploy applications into grid computing clusters, like Kubernetes,
          | while SIP servers can be separately managed in their own autoscale clusters.  Integration with tools like Homer and fail2ban
          | make it easy to integrate into your ops ecosystem.

  .content#bottom: .container.grid-lg
    .columns
      .column.col-6.col-md-12
        h3 Time to crank up the awesome. 
        hr
        p 
          | drachtio was born in carrier networks, where five 9's reliability is a way of life.
        p
          | Check out the  
          a(href='docs/developer-guide') Getting Started 
          | docs, #[br/] and then 
          a(href='https://github.com/davehorton/drachtio-server/tree/develop') build a drachtio server from source 
          | #[br/] or  
          a(href='https://cloud.docker.com/swarm/drachtio/repository/docker/drachtio/drachtio-server/general') grab a docker image 
          | and start building apps. 

      .column.col-6.col-md-12.center
        .five-nines 99.999%

block scripts
  script.
    var elem = document.querySelector("header");
    var headroom = new Headroom(elem, {
    "offset": 150,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
    });
    headroom.init();
  script.
    hljs.initHighlightingOnLoad();
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
