extends layouts/default

block header
  #intro: .container.grid-lg
    h1 The node.js framework for SIP server applications.
    .caption Bringing services to SIP networks.
    .card.code-box
      .card-header
        .circle-one
        .circle-two
        .circle-two
      .card-body
        include:markdown-it markdown/home-box.md
    a.btn.btn-special(href="/docs") Get Started
    a.arrow-down(href="#top")
        
  
block content
  .content#top: .container.grid-lg
    .columns
      .column.col-6.col-md-12
        h3 Everything is in the box. 
        hr
        p 
          | drachtio is an open-source ecosystem consisting of a high-performance SIP server 
          | and a node.js module that controls SIP sessions on the server.
        p 
          | The distributed architecture means that application logic can be 
          | scaled, deployed, and managed completely independently from 
          | SIP call processing engines.
      .column.col-6.col-md-12
        img(src="/images/VoIP.png")
        
  .content#middle: .container.grid-lg
    .columns
      .column.col-6.col-md-12
        a.btn.btn-box.dark(href="/docs")
          | See the docs.
          hr
        a.btn.btn-box.light(href="https://github.com/davehorton/drachtio-srf")
          | View the source.
          hr
      .column.col-6.col-md-12#content-right
        div: h3 Let's keep this simple.
        hr
        p 
          | If you're familiar with node.js frameworks #[br/] for web applications, then
          | drachtio will fit easily to hand.#[br/] It uses
          | a familiar and easy-to-learn middleware pattern to let you create and manage SIP sessions.
        p
          | Check out the  
          a(href='docs/developer-guide') Getting Started 
          | docs, #[br/] and then 
          a(href='https://github.com/davehorton/drachtio-server/tree/develop') build a drachtio server from source 
          | #[br/] or  
          a(href='https://cloud.docker.com/swarm/drachtio/repository/docker/drachtio/drachtio-server/general') grab a docker image 
          | and start building apps. 

  .content#bottom: .container.grid-lg
    .columns
      .column.col-6.col-md-12
        h3 Time to crank up the awesome. 
        hr
        p 
          | drachtio was born in carrier networks, where five 9's reliability is a way of life.
        p
          | Applications built using drachtio are currently processing tens of millions of minutes per
          | month in world-wide deployments that range from intelligent call routing, to
          | emergency services, voip services, SIPREC call recording, IVR, and others.
      .column.col-6.col-md-12.center
        .five-nines 99.999%

block scripts
  script.
    var elem = document.querySelector("header");
    var headroom = new Headroom(elem, {
    "offset": 150,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
    });
    headroom.init();
  script.
    hljs.initHighlightingOnLoad();
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
