<header data-headroom="data-headroom" class="navbar">
  <div class="container grid-xl">
    <div class="logo"><img src="images/logo.svg" alt="drachtio, the Node.js framework fpr SIP server applications."/></div>
    <div class="links hide-sm">
      <a href="#">API</a>
      <a href="#">Getting Started</a>
      <a href="#">Tutorials</a>
      <a href="#" class="active">Blog</a>
    </div>
    <div class="version"><a id="version" href="#">v4.3.2</a></div>
  </div>
</header>
