<header data-headroom="data-headroom" class="navbar">
  <div class="container grid-xl">
    <div class="logo"><img src="images/logo.svg" alt="drachtio: the Node.js framework for SIP server applications"/></div>
    <div class="links hide-sm">
      <a href="#">About</a>
      <a href="#">Docs</a>
      <a href="#">API</a>
      <a href="#">Middleware</a>
      <a href="#">Apps</a>
      <a href="#">Release Notes</a>
      <a href="#" class="active">Blog</a>
    </div>
    <div class="version"><a id="version" href="#">v4.3.4</a></div>
  </div>
</header>
