<header data-headroom="data-headroom" class="navbar">
  <div class="container grid-xl">
    <div class="logo"><img src="images/logo.svg" alt="drachtio, the Node.js SIP server framework."/></div>
    <div class="links hide-sm">
      <a href="#">About</a>
      <a href="#">Docs</a>
      <a href="#">Middleware</a>
      <a href="#">Apps</a>
      <a href="#" class="active">Blog</a>
    </div>
    <div class="version"><a id="version" href="#">v4.2.17</a></div>
  </div>
</header>
