// Buttons
.btn {
  border: none;
  box-shadow: 0 0 0 5px $border-color;
  background-color: $dark-color;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.03;
  font-weight: 600;

  &:focus,
  &:hover {
    background-color: $primary-color;
    border-color: $border-color;
    text-decoration: none;
    color: white;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  color: #565656;
}

a:focus {
  border-radius: 1px;
  text-decoration: none !important;
}

ol, ul {
  font-size: 15px;
  li {
    color: rgb(137, 141, 144);
  }
  margin-bottom: 2em;
}
ol {
  list-style: decimal;
  li { padding-left: 1em; }
}
ul {
  list-style: disc;
  li { padding-left: 1em; }
}

code {
  background: lighten($primary-color, 50%);
  color: $primary-color;
}

.start {
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: $primary-color;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: .5em;
  display: inline-block;
  img {
    width: 28px;
    float: none;
    margin: 0 .8em -6px 0;
  }
}

input, textarea, select, button {
  font-size: .8rem;
  padding: 1em;
}
input {
  height: 3em;
}
label {
  margin: 1em 0 .25em;
}

.center {
  text-align: center;
}
