.hljs,
.hljs-subst {
  color: #898D90 !important;
}

.hljs-built_in,
.hljs-number { color: #1C5FD9 !important; }

.hljs-string { color: #9A6D93 !important; }

.hljs-keyword { color: $primary-color; }
