.rect {
  height: 345px;
  max-height: 345px;
  .left {
    float: left;
  }
  h3 {
    display: block;
  }
}
#first {
  font-size: 24px;
  .inside { padding: 90px 0 0 40px; }
  background: $primary-color;
  color: #FF83AE;
  h3 {
    color: white;
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
  img { width: 88px; }
  .text {
    margin: 2em 0 0 5em;
  }
}
#second, #third {
  .inside {
    padding: 3em .5em 0 ;
  }
}
#third {
  text-align: right;

  hr { display: inline-block;}
  h3 {
    float: right;
  }
  @media (max-width: $size-md) {
    text-align: left;
    h3 {
      float: none;
    }
  }
}
#fourth {
  padding-top: 115px;
  text-align: center;
  h1, h2, h3 {
    font-size: 36px;
    color: #5D5D5D;
    max-width: none;
    margin-bottom: 10px;
  }
  background: #F9F9F9;
  color: #949494;
  p {
    width: 100px;
    width: 200px;
    display: inline-block;
  }
}

#about-bottom {
  p {
    margin-top: 1.5em;
  }
  text-align: center;
  img {
    height: 50px;
    width: auto;
    //height: 32.5px;
    margin-bottom: 1em;
    float: none;
  }
  h3 {
    float: none;
    display: inline-block;
  }
  .icon {
    height: 90px;
  }
}

.what-are-you-waiting-for {
  padding-top: 12em;
  h1 {
    font-size: 42px;
  }
}

// timeline

.timeline {
  h1 {
    margin-top: .5em;
    margin-bottom: .2em;
  }
  p {
    margin-bottom: 5em;
  }
  text-align: center;
  .icon {
    font-size: 60px;
    margin-bottom: .5em;
  }
  .columns {
    .column {
      &:last-child {
        text-align: left;
        margin-top: 20em;
      }
    }
  }
  .inside {
    margin-top: 3em;
    padding: 4em;
      box-shadow: 0 1px 0 #e1e1e1;
  }
  .first, .third, .fifth {
    border-right: 3px solid;
    margin-right: -1.5px;

    .inside {
      text-align: right;
      hr { display: inline-block; }
    }
  }
  .second, .fourth, .sixth {
    border-left: 3px solid;
    margin-left: -1.5px;
    .inside {
      text-align: left;
    }
  }
  .first, .second {
    $main-color: #979797;
    border-color: $main-color;
    .icon { color: $main-color; }
  }
  .third, .fourth {
    $main-color: #1C5FD9;
    border-color: $main-color;
    .icon { color: $main-color; }
  }
  .fifth, .sixth {
    border-color: $primary-color;
    .icon { color: $primary-color; }
  }
  .first {
    padding-top: 5em;
  }
  .sixth {
    padding-bottom: 12em;
  }
  .arrow-top, .arrow-bottom {
    display: inline-block;
  }
  .arrow-top {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 3px solid #979797;
  }
  .arrow-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 7.5px 0 7.5px;
    border-color: $primary-color transparent transparent transparent;
  }
  .btn {
    margin-top: 1.5em;
  }
  @media (max-width: $size-md) {
    //text-align: left;
    .second, .fourth, .sixth {
      border-right-width: 3px;
      border-left-width: 0;
      border-right-style: solid;
      .inside {
        text-align: right;
      }
      hr {
        display: inline-block;
      }
    }
    .sixth {
      padding-bottom: 0;
    }
    .arrow-top, .arrow-bottom {
      display: none;
    }
  }
}
