// Navigation

header {
  background: white;
  border-bottom: 1px solid #DFDFDF;
  padding: 1.5em 0 1.8em;
  position: fixed;
  top: 0; width: 100%;
  z-index: 2;

  .links {
    float: left;
    margin: .5em 0 0 3em;
    a {
      color: $dark-color; margin: 0 1em;
      font-weight: 600;
      &.active {
        text-decoration: none;
        color: $primary-color;
      }
      &:hover {
        text-decoration: none;
        color: $gray-color-dark;
      }
    }
  }
  .version {
    margin: .5em 0 0 0;
    float: right;
  }
  .mobile-button {
    float: right;
  }
}

.mobile-menu {
  margin-top: 4em;
  display: none;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 3;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
  .links {
    padding: 2.8rem;
    a {
      display: block;
      font-size: 18px;
      color: #575757;
      padding: 1em 0;
      border-bottom: 1px solid #e5e5e5;
      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}

#fixed {
  position: fixed;
  display: none; top: 0; width: 100%;
  border-bottom: 0;
  box-shadow: 1px 0 9px 0 rgba(0, 0, 0, 0.1);
}

.headroom--pinned {
  display: block;
}
.headroom--unpinned {
    display: none;
}

.navbar {
  .logo {
    float: left;
    img { height: 1.9em }
  }
}

// Content

.content {
  padding: 10em 0 8em;
  border-bottom: 1px solid #E1E1E1;
  img {
    width: 100%; margin-top: 2em;
    @media (min-width: $size-md) { width: 100%; margin: 0; float: right;}
  }


  h3 {
    font-size: 24px;
    color: #696969;
    //max-width: 320px;
    font-weight: 700;
    margin-top: .5em;
    display: inline-block;
  }
  hr {
    width: 30%;
    background: #E5E5E5;
    border: 0;
    margin: 10px 0 40px;
    height: 5px;
    display: block;
  }
  p {
    font-size: 15px;
    line-height: 23px;
    color: #898D90;
    letter-spacing: 0.13;
    font-weight: 200;
  }
  &#top {
    padding: 17em 0 8em;
    h3 { margin-top: 2.5em; }
    p { padding-right: 5%; }
  }
  &#bottom {
    p { padding-left: 5%; }
  }
}

// footer

footer {
  padding: 9em 0 12em;
  h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    color: darken(#898D90, 10%);
  }
  ul {
    margin: 0; padding: 1em 0;
    list-style: none;
    li {
      list-style: none;
      margin: .5em 0;
      padding: 0;
      a { color: #898D90; }
    }
  }

  .copyright {
    position: absolute;
    bottom: 0;
    color: #bbb;
    margin-left: 1.5em;
  }

  @media (max-width: $size-md) {
    text-align: center;
      .footer-links {
      padding-top: 4em;
      margin: 0 auto;
    }
    .copyright {
      position: relative;
      bottom: 0;
      color: #bbb;
      margin: 1em 0;
    }
  }
}
