// Code particular to the site itself.

.btn-special {
  height: auto;
  padding: .8em 2em ;
  font-size: 16px;
}

.btn-box {
  height: auto;
  font-size: 16px;
  display: block;
  width: 425px;
  padding: 1.8em 7em .4em;
  margin-bottom: 2em;
  text-transform: none;
  font-size: 24px;
  text-align: left;
  letter-spacing: .33;
  background-repeat: no-repeat;
  background-position: 1em 150%;
  &.light {
    background-color: white;
    border: 1px solid rgba(151, 151, 151, .5);
    color: #484848;
    background-image: url('/images/git.svg');
    &:hover {
      box-shadow: 0 0 0 2px  $primary-color;
      background-repeat: no-repeat;
      background-position: 1em 125%;
      border-color: transparent;
      background-image: url('/images/git_hover.svg');
    }
  }
  &.dark {
    background-color: #484848;
    border: 5px solid rgba(151, 151, 151, .09);
    hr { background: #181818; }
    background-image: url('/images/docs.svg');
    &:hover {
      background-color: $primary-color;
      background-repeat: no-repeat;
      color: white;
      background-position: 1em 125%;
    }
  }
  hr {
    height: 3px;
  }
  @media (max-width: $size-md) {
    text-align: center;
    width: auto;
    padding: 2em 1em;
    height: inherit;
    hr {
      display: none;
    }
    //background-image: none !important;
  }
  @media (max-width: $size-sm) {
    background-image: none !important;
  }
}

a#version {
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: .2em 1em;
  border-radius: $border-radius;
  font-weight: 600;
  &:hover {
    text-decoration: none;
    background: $primary-color;
    color: white;
  }
}

.code-box {
  text-align: left;
  pre, code {
    background: none;
  }

  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  margin: 4em 0;

  .circle-one,
  .circle-two {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    margin-right: .5em;
    display: inline-block;
  }
    .circle-one { background: $primary-color; }
    .circle-two { background: #E8D4DB; }

  .card-header {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 1em;
  }
  animation: 1s ease-out 0s 1 fadeIn;
  .card {
    .card-body { padding: 1.5em; }
  }

}

// Landing Page

#intro {
  padding: 10em 0 8em;
  text-align: center;
}

#intro-alt {
  padding: 12em 0 8em;
  text-align: left;
  .code-box {
    margin-top: 0;
  }
}

#content-right {
  text-align: right;
  hr { display: inline-block;}
}

.arrow-down {
 display: block;
 margin:6em auto 0;
 width: 44px;
 height: 20px;
 background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDdweCIgaGVpZ2h0PSIyMXB4IiB2aWV3Qm94PSIwIDAgNDcgMjEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQ5ICg1MTAwMikgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+UGF0aCAxMjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+CiAgICAgICAgPGcgaWQ9IkxhbmRpbmctUGFnZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTg5OS4wMDAwMDAsIC04NDQuMDAwMDAwKSIgc3Ryb2tlPSIjOTc5Nzk3IiBzdHJva2Utd2lkdGg9IjMiPgogICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgtMTIiIHBvaW50cz0iOTAxLjMyNjk4NSA4NDUuOTE3OTk0IDkyMy42MTI4MjUgODYyLjk5OTQ2OCA5NDQuMDIyMzI5IDg0NS45MTc5OTQiPjwvcG9seWxpbmU+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);
 background-size: contain;
 background-repeat: no-repeat;
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
}

// headroom
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

// icon
.logo-icon {
  width: 75px;
}

// Misc.

.col-copyright {
  position: relative;
}

// interiors

.interior-header {
  padding: 10em 0 5em;
  .caption {
    margin-top: .35em;
    max-width: 765px;
  }
  border-bottom: 1px solid #e5e5e5;
}

.interior-header-alt {
  padding: 10em 0 1em;
  text-align: center;
  h1 {
    max-width: 600px;
    margin: .5em auto;
    font-weight: normal;
  }
  hr {
    height: 1px;
    border: 0;
    background: #eee;
    max-width: 400px;
    margin: 3em auto;
  }
  p {
    max-width: 600px;
    font-size: 16px;
    margin: .5em auto 7em;
  }
}


// Contact page

#contact {
  padding: 5em 0 6em;
  font-size: 1rem;

  text-align: center;
  h1 {
    font-size: 48px;
    display: inline-block;
  }
  form .form-group {
    text-align: left;
  }
  input, textarea, select {
    font-size: .8rem;
    padding: 1em;
    border-width: 3px;
    &:focus {
      border-width: 2px;
    }
  }
  input {
    height: 3.8em;
    border-width: 3px;
    &:focus {
      border-width: 2px;
    }
  }
}

.five-nines {
  //margin-top: 1.2em;
  font-size: 50px;
  color: $primary-color;
  font-weight: 700;
  padding: .5em 1em;
  border-radius: 2em;
  border: 6px solid $primary-color;
  display: inline-block;
}

.tabs {
  padding: 0 0 4em;
  text-align: center;

  li {
    display: inline-block;

    a { 
      display: inline-block;
      padding: 1em 2em; 
      border-radius: 8px;
      color: #777;
    }

    border: none;
    margin: 0 .5em;

    &.active {
      a {
        background: #eee;
        color: #777;
        border-bottom: 0.05rem solid rgba(0, 0, 0, 0.04);
        &:hover {
          text-decoration: none;
        }
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.tab-content {
  display: none;
  &.active {
    display: block;
  }
  .info {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 1em;
    color: $primary-color;
  }
  .release {
    margin-bottom: 4.5em;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
  }
}
.releases {
  ul.pagination {
    display: block;
    text-align: center;
    li {
      display: inline-block;
      a {
        color: #666;
        padding: 5px 10px;
        border-radius: 4px;
        border: 2px solid #eee;
        &:hover {
          text-decoration: none;
          background: #f8f8f8;
        }
      }
      &.active {
        a {
          background: $primary-color;
          border-color: $primary-color;
          color: white;
          &:hover {
            background: $primary-color;
          }
        }
      }
    }
  }
}
