$primary-color: #D91C5C;
$secondary-color: #1C5FD9;
$body-font-color: #767A7D;
$link-color: $secondary-color;
$gray-color: #E5E5E5;
$dark-color: #484848;
$border-color: rgba(0, 0, 0, 0.04);
$border-radius: 6px;
$font-size: 0.65rem;

$layout-spacing: 1rem;
